.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}